@media (max-width: 1024px) {
    /************ select Variation*************/
    .variations_form table.variations{
        overflow-y:unset;
    }
    .variations_form.wd-reset-bottom-md .wd-reset-var {
        position: unset;
    }
}

 
  
.woocommerce-product-details__short-description {
    background: #fdfdfd;
    padding: 10px;
    border: 1px solid #eee;
}

.di-header-scroll-up {
    z-index: 390;
}
#products-info.di-header-scroll-up.elementor-sticky--active {
        transition: top .25s ease;
    top: 60px !important;
}
