@media (max-width: 1024px) {
    /************ select Variation*************/
    .variations_form table.variations{
        overflow-y:unset;
    }
    .variations_form.wd-reset-bottom-md .wd-reset-var {
        position: unset;
    }
}



.woocommerce-product-details__short-description {
    background: #fdfdfd;
    padding: 10px;
    border: 1px solid #eee;
}