# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/wp-content/plugins/rate-my-post/
/wp-content/plugins/seo-by-rank-math/
/wp-content/plugins/seo-by-rank-math-pro/